#schoolstable tbody tr:hover{
    background-color: rgb(42, 157, 192);
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .card-back{
    background-image: url('img/dashb.jpg');
    background-repeat: no-repeat, repeat;
  }